<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSection>
    <section name="nlog" type="NLog.NLogConfig.ConfigSectionHandler,NLog"/>
  </configSection>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="NLog.Extended" />
    </extensions>
    <targets async="true">
      
      <target name="dbTarget"
              xsi:type="Database"
              connectionStringName="TestConnection"
              keepConnection="true"
              commandText="exec dbo.SaveLogEvent 
                @timeStamp,
                @level, 
                @username, 
                @logger, 
                @url, 
                @machineName,
                @threadId,
                @sessionId,
                @referrer,
                @userAgent,
                @code,
                @message"
            >
        <parameter name="@timeStamp" layout="${date}" />
        <parameter name="@level" layout="${level}" />
        <parameter name="@username" layout="${identity}" />
        <parameter name="@logger" layout="${logger}" />
        <parameter name="@url" layout="${aspnet-request:serverVariable=Url}" />
        <parameter name="@machineName" layout="${machinename}" />
        <parameter name="@threadId" layout="${threadid}" />
        <parameter name="@sessionId" layout="${aspnet-sessionid}" />
        <parameter name="@referrer" layout="${aspnet-request:serverVariable=HTTP_REFERRER}" />
        <parameter name="@userAgent" layout="${aspnet-request:serverVariable=HTTP_USER_AGENT}" />
        <parameter name="@code" layout="${event-context:item=Code}" />
        <parameter name="@message" layout="${message}" />
      </target>

    <target name="logFileTarget"
              xsi:type="File"
              layout="${longdate}|${level:uppercase=true}|${message}"
              fileName="C:\Logs\${date:format=yyyy-MM-dd}_odecConversationDALTesterLogs.txt"
              createDirs="true"
              deleteOldFileOnStartup="true"
            />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logFileTarget" />
      <!--<logger name="*" minlevel="Trace" writeTo="dbTarget" />-->

    </rules>
  </nlog>
</configuration>